function Main.main 2
// let foo = Foo.new()
call Foo.new 0
pop local 0
// let str = foo.foo()
push local 0
call Foo.foo 1
pop local 1
// Output.printString(str)
push local 1
call Output.printString 1
// discard return value of the void function
pop temp 0
